<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />
                <h4 class="card-title">{{ 'form.title' | translate }}</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <!-- Civilité -->
                  <div class="mb-3">
                    <label class="form-label d-block">{{ 'form.civilite.label' | translate }}</label>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        formControlName="civilite"
                        id="mr"
                        value="Mr"
                      />
                      <label class="form-check-label" for="mr">{{ 'form.civilite.mr' | translate }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        formControlName="civilite"
                        id="mme"
                        value="Mme"
                      />
                      <label class="form-check-label" for="mme">{{ 'form.civilite.mme' | translate }}</label>
                    </div>
                    <div *ngIf="registerForm.get('civilite')?.touched && registerForm.get('civilite')?.invalid" class="text-danger">
                      {{ 'form.civilite.error' | translate }}
                    </div>
                  </div>

                  <!-- Full Name -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"></i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="{{ 'form.fullName.placeholder' | translate }}"
                      formControlName="fullName"
                      type="text"
                      (focus)="setFocus('fullNameGroup')"
                      (blur)="removeFocus('fullNameGroup')"
                    />
                  </div>
                  <div *ngIf="registerForm.get('fullName')?.touched && registerForm.get('fullName')?.invalid" class="text-danger">
                    {{ 'form.fullName.error' | translate }}
                  </div>

                  <!-- Email -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"></i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="{{ 'form.email.placeholder' | translate }}"
                      formControlName="email"
                      type="email"
                    />
                  </div>
                  <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger">
                    {{ 'form.email.error' | translate }}
                  </div>

                  <!-- Date of Birth -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-calendar-60"></i>
                      </div>
                    </div>
      
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    formControlName="dateOfBirth"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.invalid" class="text-danger">
                    {{ 'form.dateOfBirth.error' | translate }}
                  </div>

                  <!-- Phone Number -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-mobile"></i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="{{ 'form.phone.placeholder' | translate }}"
                      formControlName="phoneNumber"
                      type="tel"
                    />
                  </div>
                  <div *ngIf="registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.invalid" class="text-danger">
                    <div *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
                      {{ 'form.phone.required' | translate }}
                    </div>
                    <div *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">
                      {{ 'form.phone.invalid' | translate }}
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-round btn-lg" [disabled]="registerForm.invalid">
                      {{ 'form.submit' | translate }}
                    </button>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a class="text-center" href="javascript:void(0)">
                  {{ 'form.footer' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
    </div>
  </div>
</div>
